In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
s=df['Name'][0:10]

In [7]:
s

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [10]:
len(s)

10

In [16]:
type(s)

pandas.core.series.Series

In [12]:
l=['a','b','c','d','e','f','g','h','i','j']

In [19]:
s1 = pd.Series(list(s),index=l)

In [17]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [20]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [21]:
s[0]

'Braund, Mr. Owen Harris'

In [22]:
s1[0]

'Braund, Mr. Owen Harris'

In [24]:
s1['a']

'Braund, Mr. Owen Harris'

In [27]:
s2 = s1.append(s)

/tmp/ipykernel_2061/2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [28]:
s2[0]

'Braund, Mr. Owen Harris'

In [30]:
s2

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [29]:
s2[4]

'Allen, Mr. William Henry'

In [38]:
s4 =pd.Series([3,4,5,6,6],index=[2,4,5,6,1])

In [39]:
s5= pd.Series([32,345,12,465,67],index=[1,2,3,4,5])

In [41]:
s6 = s4.append(s5)

/tmp/ipykernel_2061/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [43]:
s6[4]

4      4
4    465
dtype: int64

In [44]:
s6

2      3
4      4
5      5
6      6
1      6
1     32
2    345
3     12
4    465
5     67
dtype: int64

In [45]:
s6[0:5]

/tmp/ipykernel_2061/2671872114.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [46]:
s4

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [47]:
s5

1     32
2    345
3     12
4    465
5     67
dtype: int64

In [48]:
s4*s5

1     192.0
2    1035.0
3       NaN
4    1860.0
5     335.0
6       NaN
dtype: float64

In [49]:
s4+s5

1     38.0
2    348.0
3      NaN
4    469.0
5     72.0
6      NaN
dtype: float64

In [50]:
s4

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [51]:
s5

1     32
2    345
3     12
4    465
5     67
dtype: int64